{% extends "layout.html" %}
<div id="esconde_esconde">
  {% block all %}
  {% block head %}
  {{ super() }}
  {% endblock %}
  {% block header %}
  {{ super() }}
  {% endblock %}
  {% block login_criar_conta %}
    {{super()}}
  {% endblock%}
</div>
    <img src="../static/img/nao_eh_um_gol_quadrado.png" alt="" id="gol_d">
<main>
    <aside id="aside_pesquisa">
        <div id="quadro_pesquisa">
            <form action="/carros" method="post" id="loucura">
            <h2 style="display: inline;">PESQUISA</h2>
            <div id="marcas">
                <h3>MARCAS</h3>
                    {% for marca in lst_marcas %}
                    <div class="caixa_marcas">
                        <label for="{{marca}}">{{marca}}</label>
                            <input type="checkbox" name="marcas" id="{{marca}}" class="input_marcas_carros" value="{{marca}}"> </label>
                    </div>
                    {% endfor %}
            </div>

            <div id="registro">
                <h3>REGISTO</h3>
                <div class="div_select">
                    <label for="select_registro_inicio">Desde:</label> <br>
                    <select name="select_registro_inicio" id="select_registro_inicio">
                        {% for ano in anos %}
                        <option value="{{ano}}">{{ano}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label for="select_registro_fim">Até</label> <br>
                    <select name="select_registro_fim" id="select_registro_fim">
                        {% for ano in anos %}
                        <option value="{{ano}}" selected="2024">{{ano}}</option>
                        {% endfor %}
                    </select>

                </div>
            </div>

            
            <div id="preco">
                <h3>PREÇO</h3>
                <div class="div_select">
                    <label for="select_preco_inicio">Desde:</label>
                    <input type="range" name="select_preco_inicio" id="select_preco_inicio" min="10000" max="100000" step="500" class="range" onpointermove="aparece_valor(this)" value="0">
                    <p id="valor_select_preco_inicio" class="p_preco_quilometro">R$10.000,00</p>
                    <br>
                    <label for="select_preco_fim">Até:</label>
                    <input type="range" name="select_preco_fim" id="select_preco_fim" min="10000" max="100000" step="500" class="range" onpointermove="aparece_valor(this)" value="100000">
                    <p id="valor_select_preco_fim" class="p_preco_quilometro">R$100.000,00</p>
                    <p class="p_aviso preco-quilometro" id="p_preco"></p>
                </div>
            </div>


            <div id="quilometro">
                <h3>QUILOMETRAGEM</h3>
                <div class="div_select">
                    <label for="select_quilometro_inicio">Desde:</label>
                    <input type="range" name="select_quilometro_inicio" id="select_quilometro_inicio" min="0" max="10000" step="200" value="0" class="range" onpointermove="aparece_valor(this)">
                    <p id="valor_select_quilometro_inicio" class="p_preco_quilometro">0 KM</p>
                    <br>
                    <label for="select_quilometro_fim">Até:</label>
                    <input type="range" name="select_quilometro_fim" id="select_quilometro_fim" min="0" max="40000" step="200" class="range" value="40000" onpointermove="aparece_valor(this)">
                    <p id="valor_select_quilometro_fim" class="p_preco_quilometro">40.000 KM</p>
                    <p class="p_aviso preco-quilometro" id="p_quilometro"></p>
                </div>
            </div>
            

            

            
            <div id="combustivel">
                <h3>COMBUSTÍVEL</h3>
                <div class="div_label_label">
                    <div class="div_label_input">
                        <label for="input_gasolina">Gasolina:</label>

                        <input type="checkbox" name="combustivel" id="input_gasolina" value="gasolina">
                    </div>
                    
                    <div class="div_label_input">
                        <label for="input_etanol">Etanol:</label>
                        <input type="checkbox" name="combustivel" id="input_etanol" value="etanol">
                    </div>
                    

                    <div class="div_label_input">
                        <label for="input_diesel">Diesel:</label>
                        <input type="checkbox" name="combustivel" id="input_diesel" value="diesel">
                    </div>
                    
                    <div class="div_label_input">
                        <label for="input_biodisel">Biodiesel:</label>
                        <input type="checkbox" name="combustivel" id="input_biodisel" value="biodiesel">
                    </div>
                    
                    <div class="div_label_input">
                        <label for="input_GNV">GNV:</label>
                        <input type="checkbox" name="combustivel" id="input_GNV" value="GNV">
                    </div>
                
                    <div class="div_label_input">
                        <label for="input_eletricidade">Elétrico:</label>
                        <input type="checkbox" name="combustivel" id="input_eletricidade" value="eletrico">
                    </div>
                    
                    <div class="div_label_input">
                        <label for="input_hibrido">Hibrido:</label>
                        <input type="checkbox" name="combustivel" id="input_hibrido" value="hibrido">
                    </div>
                    
                    <div class="div_label_input">
                        <label for="input_flex">Flex:</label>
                        <input type="checkbox" name="combustivel" id="input_flex" value="flex">
                    </div>
                </div>
            </div>
            <div id="estado">
                <h3>ESTADO</h3>
                <div class="div_label_input" style="width: 100px;">
                        <label for="input_estado_usado">Usado:</label>
                            <input type="radio" name="estado" id="input_estado_usado" class="input_radio" value="Usado">
                    </div>
                    <br>
                    <div class="div_label_input" style="width: 100px; margin-top: -10px;">
                        <label for="input_estado_novo">Novo:</label>
                        <input type="radio" name="estado" id="input_estado_novo" style="margin-left: 9px;" class="input_radio" value="Novo">
                    </div>
                </div>
                <button type="submit" id="pesquisar">Pesquisar</button>
            </form>
            <form action="/carros" method="get">
                <button type="submit" name="reset_a" id="aindamaisloucurakkkkk">reset</button>
            </form>
        </div>
    </aside>
    
    
    <section id="carros">
        {%for carro in carros %}
        <div class="quadro_carros">
        <a href="{{url_for('carro_especifico',carro_nome=carro.nome)}}">
            <div id="div_carro_img_detalhes">
                <div id="div_img_carro_carros">
                    <img src="../static/img/imagens_carro/{{diretorio_imagem_carro[carro.id-1]}}.jpeg" alt="">
                </div>

                    <div id="carro_caracteristicas">
                        <div id="carro_nome">
                            <h3>{{carro.nome}}</h3>
                            <p>{{carro.modelo}}</p>
                    </div>

                        <div id="carro_detalhes">
                            <div id="carro_registro">
                                <h4>Registro</h4>
                                <p>{{carro.registro}}</p>
                            </div>

                            <div id="carro_quilometro">
                                <h4>Quilometragem</h4>
                                <p>{{carro.quilometros}} km</p>
                            </div>

                            <div id="carro_garantia">
                                <h4>Garantia</h4>
                                <p>{{carro.garantia}}</p>
                            </div>
                        </div>
                            <div id="carro_preco">
                                <h2>{{carro.preco}}</h2>
                            </div>
                        </div>
                    </div>
        </a>
    </div>
    {% endfor %}
</section>
</main>
<script>
    function aparece_valor(e){
        const input_range_value = parseInt(e.value)
        const input_preco_inicio = document.getElementById('select_preco_inicio')
        const input_quilometro_inicio = document.getElementById('select_quilometro_inicio')
        var p = `valor_${e.name}`
        if( e.id == 'select_preco_fim'){
            if(e.value < input_preco_inicio.value){
                e.value = input_preco_inicio.value
                document.getElementById('p_preco').style.display = 'block'
                document.getElementById('p_preco').innerText = 'valor máximo não pode ser menor que o mínimo'
                setInterval(desaparecer,2500)
            }
        }
        if( e.id == 'select_quilometro_fim'){
            if(e.value < input_quilometro_inicio.value){
                e.value = input_quilometro_inicio.value
                document.getElementById('p_quilometro').style.display = 'block'
                document.getElementById('p_quilometro').innerText = 'valor máximo não pode ser menor que o mínimo'
                setInterval(desaparecer2,2500)
        }
}
        if(p === 'valor_select_preco_fim' || p === 'valor_select_preco_inicio'){
            document.getElementById(p).innerText = moedinha(input_range_value)
        }
        if(p == 'valor_select_quilometro_fim' || p === 'valor_select_quilometro_inicio'){
            document.getElementById(p).innerText = `${numerinho(input_range_value)} KM`
        }
}
        function desaparecer(){
            document.getElementById('p_preco').style.display = 'none'    
        }
        function desaparecer2(){
            document.getElementById('p_quilometro').style.display = 'none'    
        }

    function moedinha(numero) {
    if (typeof numero === 'number' && !isNaN(numero)) {
        let numeroFormatado = numero.toFixed(2);
        let [parteInteira, parteDecimal] = numeroFormatado.split('.');
        parteInteira = parseInt(parteInteira).toLocaleString('pt-BR');
        let valorFormatado = `R$${parteInteira},${parteDecimal}`;
        return valorFormatado;
    } else {
        return 'Erro: Valor não é um número';
    }
}
    function numerinho(numero) {
    return numero.toLocaleString('pt-BR')
}
</script>
{% block footer%}
{{ super() }}
{% endblock%}

{% endblock%}
 