{% extends "layout.html" %}
<div id="esconde_esconde" style="display: none;">
  {% block all %}
  {% block head %}
    {{ super() }}
  {% endblock %}
  {% block header %}
  {{ super() }}
  {% endblock %}
</div>
<link rel="stylesheet" href="../static/css/style.css">
<img src="../static/img/nao_eh_um_gol_quadrado.png" id="gol_d" alt="">
<main id="carro_esp">
  <div id="quadro_carro_esp">
    <div id="carro_esp_img_nome_preco">
      <h2>{{carro.nome}}</h2>
      <div id="bostao_carousel">
        <div onclick="changeSlide(-1)" class="bostao" id="esq"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M19 12H5M12 19l-7-7 7-7"/>
        </svg></div>
        <div class="carousel-container">
          <div class="carousel" id="carousel">
            <div class="carousel-item"><img src="../static/img/img_carro/{{marca_nome_carro}}.jpeg" alt="Imagem 1"></div>
            <div class="carousel-item"><img src="../static/img/img_carro/{{marca_nome_carro}}.jpeg" alt="Imagem 1"></div>
            <div class="carousel-item"><img src="../static/img/img_carro/{{marca_nome_carro}}.jpeg" alt="Imagem 1"></div>
            <div class="carousel-item"><img src="../static/img/img_carro/{{marca_nome_carro}}.jpeg" alt="Imagem 1"></div>
            <div class="carousel-item"><img src="../static/img/img_carro/{{marca_nome_carro}}.jpeg" alt="Imagem 1"></div>
            <div class="carousel-item"><img src="../static/img/img_carro/{{marca_nome_carro}}.jpeg" alt="Imagem 1"></div>
            <div class="carousel-item"><img src="../static/img/img_carro/{{marca_nome_carro}}.jpeg" alt="Imagem 1"></div>
            <div class="carousel-item"><img src="../static/img/img_carro/Kia-Sorento.jpeg" alt="Imagem 4"></div>
          </div>
        </div>
        <div onclick="changeSlide(1)" class="bostao" id="dir"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M5 12h14M12 5l7 7-7 7"/>
        </svg></div>
      </div>
      <h2>{{carro.preco}}</h2>
  </div>
    <div id="carros_bgl">
      <div class="quadro_categoria_carro_esp">
        <h3>Marca:<span>{{marca_carro}}</span></h3>
      </div>
      <div class="quadro_categoria_carro_esp">
        <h3>Modelo: <span>{{carro.modelo}}</span></h3>
      </div>
      <div class="quadro_categoria_carro_esp">
        <h3>Data De Registro: <span>{{carro.registro}}</span></h3>
      </div>
      <div class="quadro_categoria_carro_esp">
        <h3>Tipo de combustivel: <span>{{carro.combustivel}}</span></h3>
      </div>
      <div class="quadro_categoria_carro_esp">
        <h3>Motor: <span>{{carro.motor}}</span></h3>
      </div>
      <div class="quadro_categoria_carro_esp">
        <h3>Transmissão: <span>{{carro.transmissao}}</span></h3>
      </div>
      <div class="quadro_categoria_carro_esp">
        <h3>Origem: <span>{{carro.origem}}</span></h3>
      </div>
      <div class="quadro_categoria_carro_esp">
        <h3>Co2: <span>{{carro.Co2}}</span></h3>
      </div>
      <div class="quadro_categoria_carro_esp">
        <h3>Estado: <span>{{carro.estado}}</span></h3>
      </div>
      <div class="quadro_categoria_carro_esp">
        <h3>Quilometragem: <span>{{carro.quilometros}}km</span></h3>
      </div>
      <div class="quadro_categoria_carro_esp">
        <h3>Garantia: <span>{{carro.garantia}}</span></h3>
      </div>
      <div class="quadro_categoria_carro_esp">
        <h3>Tipo: <span>{{carro.tipo}}</span></h3>
      </div>
      <div class="quadro_categoria_carro_esp">
        <h3>N° de portas: <span>{{carro.portas}}</span></h3>
      </div>
      <div class="quadro_categoria_carro_esp">
        <h3>Cor: <span>{{carro.cor}}</span></h3>
      </div>
      <div class="quadro_categoria_carro_esp">
        <h3>Quantidade de Lugares: <span>{{carro.lugares}}</span></h3>
      </div>
    </div>
</div>
</main>
{% block login_criar_conta %}
{{super()}}
{% endblock%}
{% block footer%}
{{ super() }}
{% endblock%}
<script src="../static/js/main.js"></script>




{% endblock %}