<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consilcar -BR-</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <img src="../static/img/logoconsilcar.png" alt="logomarca">
        <nav>
            <div>
                <a href="/">HOME</a>
            </div>
            <div>
                <a href="/sobre nós">SOBRE NÓS</a>
            </div>
            <div>
                <a href="/carros">CARROS</a>
            </div>
            <div id="contatos_caixa">
                <a href="/contatos">CONTATOS</a>
            </div>
            <div class="header_image" id="lupinha">

                <a href="">

                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="11" cy="11" r="8" />
                    <line x1="21" y1="21" x2="16.65" y2="16.65" /></svg>
                    
                </a>

            </div>
            <div class="header_image" id="pessoinha">
            
                <a href="login">

                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="11" r="4" />
                    <path d="M5 22s1.5-3.5 4-3.5h6c2.5 0 4 3.5 4 3.5"/></svg>

                </a>
            </div>
        </nav>
    </header>
    <img src="../static/img/nao_eh_um_gol_quadrado.png" alt="" id="gol_d">
<main>
    <aside>
        <div id="quadro_pesquisa">
            <div id="modelo">
                <h3>MODELO</h3>
                    <ul id="modelo_UL">
                        <li>    MODELO 1</li>
                        <li>    MODELO 2</li>
                        <li>    MODELO 3</li>
                        <li>    MODELO 4</li>
                        <li>    MODELO 5</li>
                    </ul>
            </div>

            <div id="registro">
                <h3>REGISTO</h3>
                    <label>desde:<input type="text"></label>
                    <br>
                    <label>até:<input type="text"></label>
            </div>


            <div id="preco">
                <h3>PREÇO</h3>
                    <label>preço mínimo:<input type="text"></label>
                    <br>
                    <label>preço máximo:<input type="text"></label>
            </div>


            <div id="quilometro">
                <h3>QUILÔMETROS</h3>
                    <label>km mínimo:<input type="text"></label>
                    <br>
                    <label>km máximo:<input type="text"></label>
            </div>


            <div id="potencia">
                <h3>POTÊNCIA</h3>
                    <label>potência mínima:<input type="text"></label>
                    <br>
                    <label>potência máxima:<input type="text"></label>
            </div>


            <div id="combustivel">
                <h3>COMBUSTÍVEL</h3>
                <ul>
                    <li>Electrico</li>
                    <li>Gasolina</li>
                    <li>Etano</li>
                    <li>GPL</li>
                </ul>
            </div>
            <button type="submit" id="pesquisar">Pesquisar</button>
        </div>
    </aside>


<section id="carros">
    <div id="carro">
        <img src="../static/img/peugeot_3008.jpg" alt="" id="carro_img">

        <div id="carro_caracteristicas">


            <div id="carro_nome">
                <h3>Peugeot 3008</h3>
                <p>1.2 PureTech M6 Active Navigator</p>
            </div>

            <div id="carro_detalhes">
                <div id="carro_registro">
                    <h4>registro</h4>
                    <p>Outubro/2018</p>
                </div>
                <div id="carro_quilometro">
                    <h4>quilômetros</h4>
                    <p>93.671 Km</p>
                </div>
                <div id="carro_garantia">
                    <h4>garantia</h4>
                    <p>18 meses</p>
                </div>
            </div>
        

        </div>

    </div>

    <div id="carro1">
        <img src="../static/img/peugeot_3008.jpg" alt="" id="carro_img">
        <div id="carro_caracteristicas">


            <div id="carro_nome">
                <h3>Carro genérico</h3>
                <p>Lorem ipsum dolor sit amet</p>
            </div>

            <div id="carro_detalhes">
                <div id="carro_registro">
                    <h4>registro</h4>
                    <p>*data*</p>
                </div>
                <div id="carro_quilometro">
                    <h4>quilômetros</h4>
                    <p>*quilometragem*</p>
                </div>
                <div id="carro_garantia">
                    <h4>garantia</h4>
                    <p>*tempo de garantia*</p>
                </div>
            </div>
        

        </div>

    </div>
</section>
</div>

</main>
</body>
</html>