{% extends "layout.html" %}
<div id="esconde_esconde">
  {% block all %}
  {% block head %}
  {{ super() }}
  {% endblock %}
  {% block header %}
  {{ super() }}
  {% endblock %}
  {% block login_criar_conta %}
    {{super()}}
  {% endblock%}
</div>
<main id="contatos">
    <div id="mensagem">
        <div id="head_msg_container">
            <div class="head_msg">
                <h2>1° Selecione a razão de seu contato</h2>
                <h3>ficaremos felizes em lhe atender da melhor forma possível</h3>
            </div>
            <div class="head_msg">
                <h2>2° Escreva o título da mensagem</h2>
                <h3>isso facilitará o seu atendimento</h3>
            </div>
            <div class="head_msg">
                <h2>3° Coloque seu melhor email</h2>
                <h3>vamos lhe responder por aqui</h3>
            </div>
            <div class="head_msg">
                <h2>4° Escreva sua mensagem</h2>
                <h3>lembre-se de ser educado</h3>
            </div>
        </div>
    </div>

    <div id="caixa_email">
        <form action="/email_processar" method="post">
        <select id="opcoesSelect" name="email_selecao">
            <option value="selecionar" class="opt">Selecione aqui a razão de seu contato</option>
            <option value="duvida" class="opt">Duvida</option>
            <option value="sugestao" class="opt">Sugestão</option>
            <option value="proposta" class="opt">Quero fazer uma proposta de preco</option>
            <option value="outro" class="opt">Outro</option>
        </select>
        <div id="email">
            <div id="titulo_email">
                <input type="text" id="titulo" name="email_titulo" placeholder="Título da mensagem">
            </div>
            <div id="email_destinatario_remetente">
                <div class="email_content" id="destinatario"><h3>Para:</h3><p>emailConsilcar@consilcar.com</p></div>
                <div class="email_content" id="remetente"><h3>De:</h3><input type="email" name="email_remetente" id="" placeholder="digite aqui seu nome">
            </div>
        </div>
            
            <div id="corpo_email">
                    <textarea name="email_corpo" id="" cols="30" rows="10" placeholder="digite aqui sua mensagem"></textarea>
                    <button type="submit">Enviar</button>
                </form>
            </div>
        </div>
        
    </div>
</main>
{% block footer%}
{{ super() }}
{% endblock%}
<script src="../static/js/main.js"></script>
{% endblock %}