{% extends "layout.html" %}
<div id="esconde_esconde">
  {% block all %}
  {% block head %}
  {{ super() }}
  {% endblock %}
  {% block header %}
  {{ super() }}
  {% endblock %}
  {% block login_criar_conta %}
    {{super()}}
  {% endblock%}
</div>
<main id="contatos">
    <div id="mensagem">
        <h2>Selecione a razão de seu contato</h2>
        <h3>ficaremos felizes em lhe atender da melhor forma possível</h3>
    </div>

    <div id="caixa_email">
        <select id="opcoesSelect">
            <option value="selecionar">Selecione aqui a razão de seu contato</option>
            <option value="duvida">Duvida</option>
            <option value="sugestao">Sugestão</option>
            <option value="proposta">Quero fazer uma proposta de preco</option>
        </select>
        <br>

        <div id="email">
            <form action="" method="get">
            <input type="text" id="titulo" name="titulo" placeholder="Título da mensagem">
            <div class="email_content" id="destinatario"><h3>Para:</h3><p>emailConsilcar@consilcar.com</p></div>
            <div class="email_content" id="remetente"><h3>De:</h3><input type="email" name="" id="" placeholder="digite aqui seu nome"></div>
            
            <div id="corpo_email">
                    <textarea name="" id="" cols="30" rows="10" placeholder="digite aqui sua mensagem"></textarea>
                    <button type="submit">Enviar</button>
                </form>
            </div>
        </div>
        
    </div>
</main>



{% block footer%}
{{ super() }}
{% endblock%}
{% endblock %}