{% block all %}
{% block head %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consilcar -BR-</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
{% endblock %}
<body>
    {% block header %}
    <header>                            
        <img src="../static/img/img_logo/carro logo 2.png" alt="logomarca">
        <nav>
            <div>
                <a href="/">HOME</a>
            </div>
            <div>
                <a href="/sobre nós">SOBRE NÓS</a>
            </div>
            <div>
                <a href="/carros">CARROS</a>
            </div>
            <div id="contatos_caixa">
                <a href="/contatos">CONTATOS</a>
            </div>
            {% if current_user.is_authenticated %}
            <div class="header_image" id="logoff" onclick="show_div(this)">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="11" r="4" />
                <path d="M5 22s1.5-3.5 4-3.5h6c2.5 0 4 3.5 4 3.5"/></svg>
                    <p onclick="show_div(this)" id="logoff" style="display: inline;">{{current_user.nome}}</p>
                {% else %}
                <div class="header_image" id="login_pessoinha" onclick="show_div(this)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="11" r="4" />
                    <path d="M5 22s1.5-3.5 4-3.5h6c2.5 0 4 3.5 4 3.5"/></svg>
                    <p id="p_logoff" style="display: inline;">Login</p>
                {% endif %}
        </div>
        </nav>
    </header>
    <div id="div_logoff" class="caixa_div">
        <form action="/logoff?rota={{request.url}}" method="post">
            <h2>Desejas sair?</h2>
                <div id="bostoes">
                    <button type="submit">Sair</button>
                    <button type="reset" onclick="closer('div_logoff')" id="voltar">Voltar</button>
                </div>
                {% if current_user.administrador %}
                <div id="falso_button" onclick="show_div(this)" >Adicionar usuário administrador</div>
                {% endif %}
        </form>
    </div>
    {% with messages = get_flashed_messages(category_filter=['error']) %}
        {% if messages %}
            {% for message in messages %}
                <h2 class="flash error" id="flash">{{message}}</h2>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% with messages = get_flashed_messages(category_filter=['okay']) %}
        {% if messages %}
            {% for message in messages %}
                <h2 class="flash okay" id="flash">{{message}}</h2>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% endblock %}
    {% block login_criar_conta %}
    <div class="caixa_div" id="caixa_div_login">
        <div id="div_login" class="div_quadro">
            <div class="div_fechar" onclick="fechar(this)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20" fill="none" stroke="black" stroke-width="2">
                <line x1="4" y1="4" x2="16" y2="16" />
                <line x1="16" y1="4" x2="4" y2="16" />
                </svg>
            </div>
            <h2>Login</h2>
            <form action="/logar?rota={{request.url}}" method="post">
                <label for="email_login">Email:</label>   
                <input type="email" name="email_login" id="email_login">
                <br>
                <label for="senha_login">Senha:</label>
                <input type="password" name="senha_login" id="senha_login">
                <br>
                <button type="submit" id="submit_logar">Enviar</button>
                <br>
            </form>
        <p>Esqueceu a senha? Clique <a href="">aqui</a></p>
        <p>Não tem conta? <span class="falso_link" id="fake_link_criar_conta" onclick="show_div(this)">Criar conta</span></p>
</div>   
</div>
<div class="caixa_div" style="display: none;" id="caixa_div_criar_conta">
    <div id="div_criar_conta" class="div_quadro">
        <div class="div_fechar" onclick="fechar(this)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20" fill="none" stroke="black" stroke-width="2">
            <line x1="4" y1="4" x2="16" y2="16" />
            <line x1="16" y1="4" x2="4" y2="16" />
            </svg>
        </div>
        <h2 style="width: 175px;">Criar Conta</h2>
        {% if current_user.administrador %}
            <h3 style="margin-bottom: 5px;">-Administrador-</h3>
        {% endif %}
        <form action="/criar conta" method="post">
            <label for="nome_criarconta">Nome:</label>
            <input type="text" name="nome_criarconta" id="nome_criarconta" required placeholder="seu primeiro nome" maxlength="15"> 
            <br>
            <label for="sobrenome_criarconta">Sobrenome:</label>
            <input type="text" name="sobrenome_criarconta" id="sobrenome_criarconta" placeholder="seu sobrenome (opcional)" maxlength="15">
            <br>
            <label for="telefone_criarconta">Telefone:</label>
            <input type="tel" name="telefone_criarconta" id="telefone_criarconta" required placeholder="seu telefone para entrarmos em contato">
            <br>
            <label for="email_criarconta">Email:</label>
            <input type="email" name="email_criarconta" id="email_criarconta" required placeholder="seu melhor email">
            <br>
            <label for="senha_criarconta">Senha:</label>
            <input type="password" name="senha_criarconta" id="senha_criarconta" minlength="6" maxlength="24" placeholder="entre 6 e 24 caracteres" required>
            {% if current_user.is_authenticated %}
            <div id="decisao_adm">
                <h3>Este usuário será administrador?</h3>
                <h4>-ele poderá adicionar novos carros e modificar os que já estão no estoque-</h4>
                <div id="input_div">
                    <label>Não<input type="radio" name="administrador" value="nao" class="inp_administrador" id="nao"></label>
                    <label>Sim<input type="radio" name="administrador" value="sim" class="inp_administrador" id="sim"></label>
                </div>
            </div>
            <br>
            {% endif %}
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>
{% endblock %}
{% block footer %}
<footer>
    <div id="elementos">
        <h2>Sinta-se em casa</h2>
        <div id="quadro-1" class="quadro-elementos">
            <a href="">Home</a>
            <a href="">Sobre nós</a>
        </div>
        <div id="quadro-2" class="quadro-elementos">
            <a href="/carros">Carros</a>
            <a href="" style="margin-right: 3.5px;">Contatos</a>
        </div>
    </div>
    <div id="fale_conosco">
        <h2>Fale conosco</h2>
        <a href="" style="font-family: 'Times New Roman', Times, serif;">+55 79 9603-1896</a>
        <a href="mailto:emailconsilcar@consilcar.com" style="font-family: 'Times New Roman', Times, serif;">emailconsilcar@consilcar.com</a>
    </div>
    <div id="area_login">
        <h2>Área Pessoal</h2>
        <div style="margin-bottom: 2px;"><a href="">login</a></div>
        <div><a href="">registre-se</a></div>
    </div>
    <div id="linha"></div>
</footer>
{% endblock %}
</body>
</html>
{% endblock %}