{% block all %}
{% block head %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consilcar -BR-</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
{% endblock %}
<body>
    {% block header %}
    <header>                            
        <img src="../static/img/logoconsilcar.png" alt="logomarca">
        <nav>
            <div>
                <a href="/">HOME</a>
            </div>
            <div>
                <a href="/sobre nós">SOBRE NÓS</a>
            </div>
            <div>
                <a href="{{url_for('carros')}}">CARROS</a>
            </div>
            <div id="contatos_caixa">
                <a href="/contatos">CONTATOS</a>
            </div>
            <div class="header_image" id="lupinha">

                <a href="">
                    
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="11" cy="11" r="8" />
                    <line x1="21" y1="21" x2="16.65" y2="16.65" /></svg>
                    
                </a>
                
            </div>
            <div class="header_image" id="login_pessoinha" onclick="show_div(this)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="11" r="4" />
                    <path d="M5 22s1.5-3.5 4-3.5h6c2.5 0 4 3.5 4 3.5"/></svg>
            </div>
        </nav>
    </header>
    {% endblock %}
    {% block login_criar_conta %}
    <div class="caixa_div" style="display: none;" id="caixa_div_login">
        <div id="div_login" class="div_quadro">
            <div class="div_fechar" onclick="fechar(this)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20" fill="none" stroke="black" stroke-width="2">
                <line x1="4" y1="4" x2="16" y2="16" />
                <line x1="16" y1="4" x2="4" y2="16" />
                </svg>
            </div>
            <h2>Login</h2>
            <br>
            <h3>Email:</h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="500" height="50" id="svg_email">
                <polygon points="0,30 30,0 450,0 420,30" fill="white" stroke="black" stroke-width="1.3" />
            </svg>
            <h3>Senha:</h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="500" height="50" id="svg_email">
            <polygon points="0,30 30,0 450,0 420,30" fill="white" stroke="black" stroke-width="1.3" />
            <text x="5%" y="50%" dominant-baseline="middle" fill="black" font-size="20"></text>
        </svg>
        <form action="/logar" method="post">
            <input type="email" name="email_login" id="email_login" class="svg_input"> <br>
            <input type="password" name="senha_login" id="senha_login" class="svg_input">
            <br>
            <button type="submit" id="submit">Enviar</button> <br>
        </form>
        <p>Esqueceu a senha? Clique <a href="">aqui</a></p>
        <p>Não tem conta? <span class="falso_link" id="fake_link_criar_conta" onclick="show_div(this)">Criar conta</span></p>
</div>   
</div>
<div class="caixa_div" style="display: none;" id="caixa_div_criar_conta">
    <div id="div_criar_conta" class="div_quadro">
        <div class="div_fechar" onclick="fechar(this)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20" fill="none" stroke="black" stroke-width="2">
            <line x1="4" y1="4" x2="16" y2="16" />
            <line x1="16" y1="4" x2="4" y2="16" />
            </svg>
        </div>
        <h2>Criar Conta</h2>
                <br>
                <h3>Nome:</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" width="500" height="50" id="svg_email">
                        <polygon points="0,30 30,0 450,0 420,30" fill="white" stroke="black" stroke-width="1.3" />
                    </svg>
                <h3>Email:</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" width="500" height="50" id="svg_email">
                        <polygon points="0,30 30,0 450,0 420,30" fill="white" stroke="black" stroke-width="1.3" />
                    </svg>
                <h3>Senha:</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" width="500" height="50" id="svg_email">
                        <polygon points="0,30 30,0 450,0 420,30" fill="white" stroke="black" stroke-width="1.3" />
                        <text x="5%" y="50%" dominant-baseline="middle" fill="black" font-size="20"></text>
                    </svg>
                <h3>Confirmar senha</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" width="500" height="50" id="svg_email">
                        <polygon points="0,30 30,0 450,0 420,30" fill="white" stroke="black" stroke-width="1.3" />
                        <text x="5%" y="50%" dominant-baseline="middle" fill="black" font-size="20"></text>
                    </svg>
            <form action="/logar" method="post">
                <input type="text" name="" id="nome_criar_conta" class="svg_input"> 
                <br>
                <input type="email" name="" id="email_criar_conta" class="svg_input"> 
                <br>
                <input type="password" name="" id="senha_criar_conta" class="svg_input">
                <br>
                <input type="password" name="" id="confirmar_senha_criar_conta" class="svg_input">
                <button type="submit" id="submit">Enviar</button>
                <br>
            </form>
    </div>
</div>
{% endblock %}
{% block footer %}
<footer>
    <nav id="elementos">
        <h2>Sinta-se em casa</h2>
        <div id="quadro-1" class="quadro-elementos">
            <a href="">Home</a>
            <a href="">Sobre nós</a>
        </div>
        <div id="quadro-2" class="quadro-elementos">
            <a href="">Carros</a>
            <a href="" style="margin-right: 3.5px;">Contatos</a>
        </div>
    </nav>
    <div id="ligue_nos">
        <h2>Ligue Para Nós</h2>
        <p>+55 79 9603-1896</p>
        <p>Ou</p>
        <h3>Mande Um Email</h3>
        <p>email-exemplo@email.com</p>
    </div>
    <div id="area_login">
        <h2>Área Pessoal</h2>
        <a href="">login</a>
        <p>ou</p>
        <a href="">registre-se</a>
    </div>
</footer>
{% endblock %}
</body>
    <script>
        function show_div(e){
        caixa_div_login = document.getElementById('caixa_div_login')
        div_criar_conta = document.getElementById('div_criar_conta')
        console.log('alooo')
        caixa_div_criar_conta = document.getElementById('caixa_div_criar_conta')
        

        if(e.id == 'login_pessoinha'){
            caixa_div_login.style.display = 'block'

        }
        if(e.id == 'fake_link_criar_conta'){
            caixa_div_login.style.display = 'none'
            caixa_div_criar_conta.style.display = 'block'
        }


    }
        function fechar(e){
            const div_pai = e.parentNode
            const div_avo = div_pai.parentNode
            div_avo.style.display = 'none'

        }
    </script>
    {% endblock %}