{% extends "layout.html" %}
<div id="esconde_esconde">
  {% block all %}
  {% block head %}
  {{ super() }}
  {% endblock %}
  {% block header %}
  {{ super() }}
  {% endblock %}
  {% block login_criar_conta %}
    {{super()}}
  {% endblock%}
</div>
<link rel="stylesheet" href="../static/css/style.css">
<main id="selecionar_carros">
  <div id="selecionar_carro_data">

    <div id="label_select">
      <label for="carro_semana">Selecione o carro:</label>
      <form action="/carro semana" method="post" style="width: 100%;">
        <select name="carro_semana" id="carro_semana" name="carro_semana" >
          {% for carro in carros %}
            <option value="{{carro.nome}}">{{carro.nome}}</option>
           {% endfor%}
        </select>
      </div>
        
        <div id="input_data">
          <label>De:<input type="date" name="dia_hoje" id="dia_hoje" style="margin-left: 30px;"></label>
          <br>
          <br>
          <label>Até:<input type="date" name="dia_semanaqvem" id="dia_semanaqvem"></label>
        </div>
        
        <button type="submit">Enviar</button>
      </form>
    </div>
    <h2 id="moises">Carros anteriores</h2>
  </div>
  <div id="situacao_carros">
    <div id="carros_totalidade">
    <div id="mostruario">

      <h2>Ultimos 5 carros</h2>

      <div id="head">
        <h3 class="nome">Nome</h3>
        <h3 class="data_inicio">Data Inicial</h3>
        <h3 class="data_final">Data Final</h3>
      </div>

      <div id="C5">
      {% for c in range(0, 5) %}
      <div class="carro_und C5">
        <h4 class="nome C5">{{carros_dict['nomes'][c]}}</h4>
        <h4 class="data_inicio C5">{{carros_dict['inicio'][c]}}</h4>
        <h4 class="data_final C5">{{carros_dict['fim'][c]}}</h4>
      </div>
      {% endfor %}
      </div>
    </div>
    <h2 id="moises2">Histórico Carros</h2>
    <div id="head">
      <h3 class="nome">Nome</h3>
      <h3 class="data_inicio">Data Inicial</h3>
      <h3 class="data_final">Data Final</h3>
    </div>
    <div id="outros_carros">
    {% for c in range(5, qtn_elementos) %}
      <div class="carro_und">
        <h4 class="nome">{{carros_dict['nomes'][c]}}</h4>
        <h4 class="data_inicio">{{carros_dict['inicio'][c]}}</h4>
        <h4 class="data_final">{{carros_dict['fim'][c]}}</h4>
      </div>
      {% endfor %}
    </div>
  </div>
  </div>
  </main>

<script>
  function setCurrentDateInput() {
            var data = new Date();
            var ano = data.getFullYear();
            var mes = (data.getMonth() + 1).toString().padStart(2, '0'); // Mês começa do zero
            var dia = data.getDate().toString().padStart(2, '0'); // Dia do mês
            var dia_hoje = ano + "-" + mes + "-" + dia;
            var input_hoje = document.getElementById("dia_hoje");
            var input_semanaqvem = document.getElementById("dia_semanaqvem");
            input_hoje.value = dia_hoje;
            input_semanaqvem.value = ano + "-" + mes + "-" + (parseInt(dia) + 7)
        }
    function mataflash() {
      var flashMessage = document.querySelector('.flash');
      if (flashMessage) {
        setTimeout(function () {
          flashMessage.style.display = 'none';
        }, 2000);
      }
}
document.addEventListener("DOMContentLoaded", setCurrentDateInput);
document.addEventListener('DOMContentLoaded', mataflash);
</script>

{% block footer%}
{{ super() }}
{% endblock%}
{% endblock%}
