{% extends "layout.html" %}
<div id="esconde_esconde">
  {% block all %}
  {% block head %}
  {{ super() }}
  {% endblock %}
  {% block header %}
  {{ super() }}
  {% endblock %}
  {% block login_criar_conta %}
    {{super()}}
  {% endblock%}
</div>
<link rel="stylesheet" href="../static/css/style.css">
        <div id="img_sobre">
            <img src="../static/img/consilcar_sobrenos.png" alt="" id="foto_sobre">
        </div>
    <main id="sobre">
        <div class="caixa_texto" id="primeiro">
            <h2>Por que comprar na Consilcar?</h2>
            <p>A Consilcar é mais do que uma concessionária, somos uma referência no mercado automotivo, oferecendo uma experiência única aos nossos clientes. Nosso compromisso é proporcionar veículos de alta qualidade, garantindo a satisfação e confiança de quem escolhe a Consilcar como parceira na compra do seu próximo carro.</p>

            <p>Contamos com uma equipe dedicada e especializada, pronta para orientar você em cada etapa do processo de compra. Desde a escolha do veículo ideal até a conclusão da transação, nosso objetivo é tornar sua experiência conosco simples, transparente e satisfatória.</p>

            <p>Além disso, na Consilcar, priorizamos a transparência e integridade. Nossos veículos passam por rigorosas inspeções para assegurar a qualidade e procedência, proporcionando tranquilidade aos nossos clientes. Valorizamos a confiança depositada em nós e buscamos sempre superar expectativas.</p>

            <p>Escolher a Consilcar é optar por um atendimento diferenciado, veículos de qualidade e uma parceria de confiança. Junte-se a nós e descubra por que somos a escolha certa para quem busca excelência no universo automotivo.</p>
        </div>
        <div id="segundo_terceiro">
            <div class="caixa_texto" id="segundo">
                <h3 style="font-size: 1.25em;">Confiança da Consilcar</h3>
                <p>"A confiança é a essência vital da Consilcar. Estabelecemos relações sólidas e duradouras com nossos clientes, baseadas na transparência e no comprometimento. Ao optar por nossos serviços, você não apenas adquire um veículo, mas também se junta a uma comunidade que valoriza a confiança mútua.</p>
                    <p>Nossa missão é proporcionar uma experiência singular na compra e venda de veículos. Destacamo-nos pelos      seguintes valores: <strong>transparência</strong>, fornecemos informações boas e honestas sobre nossos carros e processos,    permitindo que você tome decisões informadas com confiança, <strong>construção de relações sólidas</strong>, estabelecemos relações sólidas por meio de serviços de qualidade e honestidade em todas as interações. Nosso compromisso é criar conexões duradouras, baseadas na confiança mútua.
                    </p>
            
                    <p><strong>Negociação Cara a Cara</strong>: Valorizamos a importância das relações humanas e conduzimos negociações de maneira transparente e pessoal. Cada negociação é tratada como uma experiência única, adaptada às suas necessidades.</p>
            
                    <p>Na Consilcar, não vendemos apenas veículos; construímos laços duradouros. Convidamos você a explorar nosso catálogo online ou visitar nossa loja física. Estamos ansiosos para servi-lo com integridade, transparência e uma abordagem única no setor automotivo."</p>
            </div>
            <div class="caixa_texto" id="terceiro">
                <h3>Por que comprar na Consilcar?</h3>
                        <p><strong>Experiência de Compra Personalizada:</strong>
                            Valorizamos cada cliente individualmente e nos esforçamos para oferecer uma experiência de compra personalizada. Nossa equipe está pronta para compreender suas necessidades específicas e orientá-lo na escolha do veículo ideal, garantindo uma jornada de compra adaptada a você.
                        </p>
                        <p><strong>Atendimento Personalizado:</strong> Nossa equipe dedicada está pronta para proporcionar uma experiência de compra personalizada e atenciosa.</p>
                        <p><strong>Olho no Olho:</strong>
                            No espírito da verdadeira conexão humana, praticamos o "Olho no Olho". Valorizamos as interações pessoais e acreditamos que cada negociação deve ser conduzida de maneira direta e transparente. Na Consilcar, garantimos uma abordagem pessoal e autêntica em todas as transações, colocando você em primeiro lugar.</p>
                        <p><strong>Compromisso com a Satisfação:</strong> Nosso compromisso vai além da venda, estamos aqui para garantir a sua total satisfação e suporte contínuo.</p>
            </div>
        </div>
    </main>
{% block footer%}
{{ super() }}
{% endblock%}
<script src="../static/js/main.js"></script>
{% endblock %}
        

