<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consilcar -BR-</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>  
        <img src="../static/img/logoconsilcar.png" alt="logomarca">
        <nav>
            <div>
                <a href="{{url_for('home')}}">HOME</a>
            </div>
            <div>
                <a href="/sobre nós">SOBRE NÓS</a>
            </div>
            <div>
                <a href="/carros">CARROS</a>
            </div>
            <div id="contatos_caixa">
                <a href="/contatos">CONTATOS</a>
            </div>
            <div class="header_image" id="lupinha">

                <a href="">

                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="11" cy="11" r="8" />
                    <line x1="21" y1="21" x2="16.65" y2="16.65" /></svg>
                    
                </a>

            </div>
            <div class="header_image" id="pessoinha">
            
                <a href="login">

                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="11" r="4" />
                    <path d="M5 22s1.5-3.5 4-3.5h6c2.5 0 4 3.5 4 3.5"/></svg>

                </a>
            </div>
        </nav>
    </header>
        <div id="img_sobre">
            <img src="../static/img/fundo_provisório.png" alt="" id="foto_sobre">
        </div>
    <main id="sobre">
        <div class="caixa_texto" id="primeiro">
            <h2>Por que comprar na Consilcar?</h2>
            <p>A Consilcar é mais do que uma concessionária, somos uma referência no mercado automotivo, oferecendo uma experiência única aos nossos clientes. Nosso compromisso é proporcionar veículos de alta qualidade, garantindo a satisfação e confiança de quem escolhe a Consilcar como parceira na compra do seu próximo carro.</p>

            <p>Contamos com uma equipe dedicada e especializada, pronta para orientar você em cada etapa do processo de compra. Desde a escolha do veículo ideal até a conclusão da transação, nosso objetivo é tornar sua experiência conosco simples, transparente e satisfatória.</p>

            <p>Além disso, na Consilcar, priorizamos a transparência e integridade. Nossos veículos passam por rigorosas inspeções para assegurar a qualidade e procedência, proporcionando tranquilidade aos nossos clientes. Valorizamos a confiança depositada em nós e buscamos sempre superar expectativas.</p>

            <p>Escolher a Consilcar é optar por um atendimento diferenciado, veículos de qualidade e uma parceria de confiança. Junte-se a nós e descubra por que somos a escolha certa para quem busca excelência no universo automotivo.</p>
        </div>
        <div class="caixa_texto" id="segundo">
            <h3 style="font-size: 1.25em;">Confiança da Consilcar</h3>
            <p>A confiança é a essência da Consilcar. Construímos relacionamentos duradouros com nossos clientes, baseados na transparência e compromisso. Ao escolher-nos, você não apenas adquire um veículo, mas entra para uma comunidade que valoriza a confiança mútua.</p>
        </div>

        <div class="caixa_texto" id="terceiro">
            <h3>Por que comprar na Consilcar?</h3>
                <ol>
                    <li><strong>Veículos de Qualidade:</strong> Oferecemos uma seleção de veículos rigorosamente inspecionados, assegurando qualidade e confiança.</li>
                    <li><strong>Atendimento Personalizado:</strong> Nossa equipe dedicada está pronta para proporcionar uma experiência de compra personalizada e atenciosa.</li>
                    <li><strong>Transparência Total:</strong> Valorizamos a transparência em todas as etapas, desde a escolha do carro até a conclusão da transação.</li>
                    <li><strong>Compromisso com a Satisfação:</strong> Nosso compromisso vai além da venda, estamos aqui para garantir a sua total satisfação e suporte contínuo.</li>
                </ol>
                    
            
           
        </div>
    </main>
</body>
</html>
        

