<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for carro in lista_carros %}
        nome: {{carro.nome}} <br> <br>
        modelo: {{carro.modelo}} <br> <br>
        registro: {{carro.registro}} <br> <br>
        combustivel: {{carro.combustivel}} <br> <br>
        motor: {{carro.motor}} <br> <br>
        transmissao: {{carro.transmissao}} <br> <br>
        origem: {{carro.origem}} <br> <br>
        Co2: {{carro.Co2}} <br> <br>
        estado: {{carro.estado}} <br> <br>
        quilômetro: {{carro.quilometros}} <br> <br>
        garantia: {{carro.garantia}} <br> <br>
        tipo: {{carro.tipo}} <br> <br>
        portas: {{carro.portas}} <br> <br>
        cor: {{carro.cor}} <br> <br>
        lugares: {{carro.lugares}} <br> <br>
        <br> <br> <br>
    {% endfor%}
</body>
</html>